body {
    font-family: Arial;
    text-align: center;
    padding-top: 50px;
}

button {
    font-size: 20px;
    padding: 10px 20px;

}

.box {
  width: 100px;
  height: 100px;
  background: skyblue;
  transition: transform 0.3s;
}

.box:hover {
  transform: scale(1.2);
}
